In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn import metrics
from flask import Flask, request, render_template,jsonify
from flask_cors import CORS
import re
import math
from utility.data_cleaning import *
from utility.data_preprocessing import *
from utility.model_building import *
from config.configuration import *


app = Flask(__name__)
CORS(app)

#import pickle folder of model, encoder and mode values of cat columns 

with open('./data/training/output/rf_model_20231214.pkl', 'rb') as file:
    model=pickle.load(file)
with open('./data/training/output/encoder_20231214.pkl', 'rb') as file:
    label_encoders=pickle.load(file)
modes_dict_path = './data/training/output/mode_values_dict_20231213.pkl'
with open(modes_dict_path, 'rb') as file:
    modes_dict = pickle.load(file)
print(modes_dict)

mean_dict_path = './data/training/output/mean_values_dict_20231213.pkl'
with open(mean_dict_path, 'rb') as file:
    mean_dict = pickle.load(file)
    
@app.route("/predict_api", methods=['POST'])
def RiskPrediction():
    json_ = request.json
    df= pd.DataFrame([json_])
    display(df)
    
    
    df.replace('',np.nan,inplace=True)
    
    
# check if the col of df presents in modes_dict, and if present then it replace the null value of cols with the mode values of this col.
    
    for col in df.columns: 
        if col in modes_dict:
            df[col]=df[col].fillna(modes_dict[col])
            
    for col in df.columns: 
        if col in mean_dict:
            df[col]=df[col].fillna(mean_dict[col])
            
    
    display(df)
    
    df_clean = clean_data(df)
    display(df_clean)
     
#to get information about the classes of each col  
    for col, encoder in label_encoders.items():
        print(f"Column: {col}")
        print(f"Classes: {encoder.classes_}")
        print("------")
        
    for col in label_encoders:
        df_clean[col] = label_encoders[col].transform(df_clean[col])
        
    predicted_loss_amount= model.predict(df_clean)
    output = predicted_loss_amount[0]
    
    #print(output)
    #display(df_clean)
    return jsonify({"prediction":output})
if __name__ == '__main__':
    #app.run()
    app.run(host='0.0.0.0', port=80)

{'Jurisdiction': 'Pennsylvania', 'CoverageType': 'BOP-Building', 'Deductible': 'FixedDollar - 2500.00', 'Limit': 'Blanket Group 1 Blanket - 48075046.00', 'InjuryCause': 'WATER', 'YearBuilt': 1900.0, 'Stories': 2.0, 'Comments': 'ClassCode:65146', 'ConstructionTypeDesc': 'Frame', 'ZipCode': '18102', 'E2Value': 955986.0, 'SquareFootage': 3489, 'BuildingLimit': 610526}
 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:80
 * Running on http://192.168.107.90:80
Press CTRL+C to quit

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,water,2008,8,ClassCode:65146,MasonryNonCombustible,43212,5670000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,water,2008,8,ClassCode:65146,MasonryNonCombustible,43212,5670000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,dist. of columbia,bop-building,fixeddollar - 2500.00,standard - 550637568.00,water,2008,8,classcode:65146,masonrynoncombustible,43212,5670000,35000,5426100

        Jurisdiction  CoverageType InjuryCause  Stories        ClassCode  \
0  dist. of columbia  bop-building       water        8  classcode:65146

    ConstructionTypeDesc ZipCode    E2Value  SquareFootage  BuildingLimit  \
0  masonrynoncombustible   43212  5670000.0          35000        5426100

  limit_type    Limit_val Deductible_type  Deductible_val  YearGap
0   standard  550637568.0     fixeddollar            2500       15

,Jurisdiction,CoverageType,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,limit_type,Limit_val,Deductible_type,Deductible_val,YearGap
0,dist. of columbia,bop-building,water,8,classcode:65146,masonrynoncombustible,43212,5670000.0,35000,5426100,standard,550637568.0,fixeddollar,2500,15

127.0.0.1 - - [14/Dec/2023 02:08:43] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia' 'washington']
------
Column: CoverageType
Classes: ['bop-building' 'bop-personalproperty' 'bop-riskliability']
------
Column: InjuryCause
Classes: ['bodily injury' 'burglary' 'collapse' 'collision' 'cracking/rupture'
 'electric current' 'explosion' 'falling objects' 'fire' 'flood'
 'freezing' 'glass' 'hail' 'lightning' 'mold' 'other perils' 'sinkhole'
 'smoke' 'theft' 'vandalism & malicious mischief' 'vehicles' 'water'
 'weight ice/snow/sleet' 'wind']
------
Column: ClassCode
Classes: ['classcode:09001' 'classcode:09011' 'classcode:09041' 'classcode:09051'
 'classcode:09061' 'classcode:09151' 'classcode:09161' 'classcode:09171'
 'classcode:09181' 'classcode:09191' 'classcode:0919109191'
 'classcode:09201' 'classcode:09211' 'classcode:09261' 'classcode:09411'
 'classcode:09431' 'classcode:09521' 'classcode:09531' 'classcode:09541'
 'classcode:09621' 'classcode:09631' 'classcode:09651' 'classcode:09661'
 'classcode:50471' 'classcode:50741' 'classcode:50813' 'classcode:52114'
 'classcode:54136' 'classcode:54216' 'classcode:55313' 'classcode:56114'
 'classcode:57121' 'classcode:57134' 'classcode:57224' 'classcode:57326'
 'classcode:59215' 'classcode:59325' 'classcode:59505' 'classcode:59526'
 'classcode:59685' 'classcode:59906' 'classcode:59992' 'classcode:59994'
 'classcode:59997' 'classcode:59999' 'classcode:60989' 'classcode:60999'
 'classcode:63611' 'classcode:63631' 'classcode:63810' 'classcode:63851'
 'classcode:63921' 'classcode:63941' 'classcode:63981' 'classcode:64061'
 'classcode:65121' 'classcode:65132' 'classcode:65133' 'classcode:65141'
 'classcode:65142' 'classcode:65144' 'classcode:6514465144'
 'classcode:651446514465145' 'classcode:6514465146' 'classcode:65145'
 'classcode:6514565142' 'classcode:6514565145' 'classcode:6514565147'
 'classcode:651456514765145' 'classcode:65146' 'classcode:6514665146'
 'classcode:651466514665146' 'classcode:65147' 'classcode:6514765144'
 'classcode:65170' 'classcode:65171' 'classcode:65198' 'classcode:69145'
 'classcode:6914569145' 'classcode:69151' 'classcode:69161'
 'classcode:69171' 'classcode:71311' 'classcode:71811' 'classcode:71855'
 'classcode:71912' 'classcode:71952' 'classcode:74011' 'classcode:74161'
 'classcode:74221' 'classcode:74231' 'classcode:74341' 'classcode:74601'
 'classcode:74661' 'classcode:75551']
------
Column: ConstructionTypeDesc
Classes: ['fireresistive' 'frame' 'joistedmasonry' 'masonrynoncombustible' 'mixed'
 'modifiedfireresistive' 'noncombustible']
------
Column: ZipCode
Classes: ['15001' '15003' '15005' '15009' '15010' '15012' '15014' '15017' '15021'
 '15022' '15024' '15025' '15027' '15030' '15031' '15033' '15034' '15035'
 '15042' '15045' '15057' '15059' '15062' '15063' '15064' '15065' '15067'
 '15068' '15074' '15085' '15089' '15090' '15101' '15104' '15106' '15108'
 '15110' '15112' '15116' '15120' '15122' '15126' '15131' '15132' '15133'
 '15135' '15135205' '15136' '15137' '15139' '15140' '15143' '15145'
 '15146' '15148' '15201' '15201742' '15202' '15202372' '15203' '15204'
 '15205' '15206' '15207' '15208' '15209' '15210' '15211' '15212' '15213'
 '15214' '15215' '15216' '15217' '15218' '15219' '15220' '15221' '15222'
 '15223' '15224' '15225' '15226' '15227' '15228' '15229' '15232' '15233'
 '15233152' '15234' '15235' '15236' '15237' '15238' '15239' '15301'
 '15317' '15320' '15321' '15323' '15333' '15342' '15347' '15370' '15401'
 '15417' '15419' '15419110' '15423' '15425' '15434' '15435' '15473'
 '15479' '15501' '15563' '15601' '15627' '15629' '15631' '15632' '15638'
 '15641' '15642' '15644' '15650' '15656' '15658' '15666' '15670' '15683'
 '15690' '15697' '15701' '15714' '15728' '15734' '15767' '15801' '15845'
 '15851' '15902' '15904' '15905' '15906' '15927' '16001' '16023' '16024'
 '16027' '16030' '16037' '16061' '16063' '16066' '16101' '16105' '16117'
 '16125' '16146' '16148' '16201' '16214' '16226' '16301' '16316' '16335'
 '16354' '16365' '16407' '16412' '16415' '16428' '16438' '16501' '16502'
 '16503' '16504' '16505' '16506' '16507' '16509' '16510' '16601' '16602'
 '16603' '16622' '16635' '16648' '16652' '16666' '16686' '16801' '16823'
 '16830' '16866' '16933' '17003' '17011' '17013' '17015' '17018' '17019'
 '17022' '17023' '17025' '17033' '17034' '17035' '17036' '17042' '17043'
 '17044' '17046' '17050' '17051' '17052' '17055' '17057' '17061' '17063'
 '17067' '17068' '17070' '17074' '17078' '17099' '17101' '17102' '17103'
 '17104' '17109' '17110' '17111' '17112' '17113' '17201' '17202' '17214'
 '17220' '17222' '17225' '17231' '17233' '17236' '17257' '17268' '17301'
 '17307' '17313' '17314' '17315' '17316' '17319' '17320' '17321' '17325'
 '17327' '17331' '17340' '17345' '17347' '17349' '17350' '17355' '17356'
 '17360' '17361110' '17362' '17364' '17366' '17368' '17401' '17402'
 '17403' '17404' '17405' '17406' '17408' '17501' '17508' '17512' '17517'
 '17517130' '17522' '17534' '17538' '17540' '17543' '17545' '17547'
 '17550' '17551' '17552' '17554' '17557' '17566' '17572' '17579' '17601'
 '17602' '17603' '17701' '17728' '17740' '17745' '17754' '17756' '17764'
 '17779' '17801' '17812' '17815' '17820' '17821' '17827' '17834' '17837'
 '17844' '17847' '17851' '17857' '17870' '17901' '17935' '17938' '17954'
 '17961' '17972' '18011' '18013' '18014' '18015' '18017' '18017329'
 '18017580' '18018' '18020' '18031' '18032' '18036' '18037' '18040'
 '18041' '18042' '18045' '18049' '18051' '18052' '18055' '18056' '18062'
 '18064' '18066' '18067' '18071' '18072' '18074' '18076' '18077' '18078'
 '18080' '18083' '18088' '18091' '18101' '18102' '18102481' '18103'
 '18104' '18106' '18109' '18201' '18202' '18210' '18218' '18219' '18229'
 '18232' '18240' '18252' '18301' '18336' '18343' '18344' '18351' '18353'
 '18360' '18405' '18405300' '18407' '18411' '18427' '18431' '18433'
 '18444' '18466' '18472' '18503' '18504' '18505' '18507' '18508' '18509'
 '18510' '18512' '18517' '18518' '18519' '18603' '18612' '18614' '18634'
 '18640' '18641' '18642' '18643' '18644' '18651' '18657' '18661' '18701'
 '18702' '18704' '18705' '18706' '18707' '18708' '18732' '18801' '18834'
 '18840' '18848' '18901' '18902' '18914' '18925' '18944' '18951' '18955'
 '18960' '18964' '18969' '18970' '18974' '19001' '19002' '19003' '19007'
 '19012' '19013' '19020' '19022' '19023' '19026' '19027' '19033' '19034'
 '19036' '19038' '19040' '19043' '19044' '19046' '19050' '19050133'
 '19052' '19053' '19061' '19063' '19067' '19072' '19076' '19078' '19081'
 '19082' '19087' '19090' '19094' '19102' '19103' '19104' '19107' '19111'
 '19116' '19119' '19122' '19124' '19125' '19127' '19128' '19129' '19131'
 '19132' '19134' '19135' '19136' '19139' '19141' '19143' '19144' '19145'
 '19146' '19147' '19151' '19152' '19153' '19154' '19333' '19341' '19343'
 '19348' '19350' '19355' '19355360' '19365' '19365119' '19380' '19382'
 '19401' '19401554' '19403' '19406' '19422' '19426' '19428' '19428230'
 '19440' '19446' '19454' '19460' '19460325' '19462' '19464' '19468'
 '19473' '19475' '19506' '19508' '19510' '19512' '19522' '19525' '19526'
 '19533' '19536' '19540' '19551' '19560' '19567' '19601' '19602' '19604'
 '19605' '19606' '19608' '19609' '19610' '19611125' '19701' '19707'
 '19709' '19711' '19720' '19801' '19802' '19804' '19805' '19806' '19808'
 '19809' '19901' '19904' '19934' '19947' '19958' '19963' '19966' '19968'
 '19973' '19977' '20001' '20002' '20003' '20007' '20008' '20009' '20010'
 '20011' '20015' '20017' '20018' '20019' '20020' '20023' '20024' '20032'
 '20036' '20037' '20111' '20147' '20155' '20653' '20659' '20705' '20706'
 '20707' '20708' '20710' '20714' '20715' '20723' '20737' '20740' '20743'
 '20746' '20747' '20748' '20763' '20781' '20783' '20785' '20854' '20912'
 '20913' '21014' '21015' '21042' '21044' '21046' '21048' '21078' '21085'
 '21093' '21113' '21122' '21144' '21157' '21158' '21201' '21202' '21205'
 '21206' '21207' '21209' '21212' '21213' '21214' '21215' '21216' '21217'
 '21218' '21221' '21222' '21224' '21227' '21228' '21229' '21230' '21231'
 '21234' '21244' '21286' '21401' '21502' '21520' '21523' '21532' '21539'
 '21541' '21550' '21601' '21613' '21619' '21620' '21629' '21638' '21639'
 '21678' '21701' '21702' '21714' '21740' '21742' '21750' '21758' '21769'
 '21779' '21782' '21783' '21784' '21788' '21791' '21797' '21801' '21837'
 '21842' '21863' '22003' '22026' '22193' '22207' '22401' '22407' '22485'
 '22560' '22657' '22701' '22901' '22902' '22903' '22911' '22932' '22968'
 '22971' '23112' '23150' '23219' '23222' '23223' '23224' '23225' '23229'
 '23430' '23452' '23503' '23508' '23606' '23666' '23803' '24013' '24015'
 '24016' '24018' '24112' '24137' '24401' '24422' '24482' '24501' '24502'
 '24517' '24572' '24590' '24609' '24641' '24651' '27288' '27529' '27540'
 '27834' '27858' '28037' '28212225' '28602' '28613' '43011' '43015'
 '43017' '43055' '43065' '43068' '43123' '43130' '43201' '43202' '43204'
 '43205' '43206' '43207' '43211' '43212' '43213' '43215' '43215004'
 '43219' '43220' '43221' '43223' '43224' '43228' '43229' '43230' '43232'
 '43302' '43604' '43606' '43607' '43609' '43614' '43615' '43620' '43701'
 '43725' '43952' '44017' '44024' '44035' '44044' '44052' '44054' '44055'
 '44074' '44076' '44077' '44089' '44090' '44094' '44102' '44103' '44105'
 '44106' '44107' '44108' '44109' '44110' '44111' '44112' '44113' '44116'
 '44117' '44118' '44120' '44121' '44122' '44124' '44128' '44129' '44130'
 '44134' '44135' '44141' '44142' '44144' '44145' '44146' '44203' '44221'
 '44223' '44224' '44230' '44233' '44240' '44266' '44270' '44281' '44301'
 '44302' '44303' '44305' '44306' '44310' '44311' '44312' '44313' '44314'
 '44319' '44333' '44405' '44406' '44408' '44410' '44412' '44420' '44460'
 '44461' '44481' '44483' '44485' '44505' '44512' '44514' '44613' '44614'
 '44641' '44646' '44647' '44677' '44685' '44691' '44703' '44706' '44708'
 '44709' '44714' '44718' '44720' '44730' '44870' '44906' '45005' '45014'
 '45030' '45040' '45044' '45056' '45066' '45068' '45069' '45144' '45157'
 '45177' '45206' '45215' '45216' '45220' '45223' '45224' '45230' '45231'
 '45237' '45238' '45240' '45302' '45324' '45342' '45356' '45365' '45371'
 '45373' '45385' '45403' '45404' '45405' '45406' '45410' '45414' '45417'
 '45419' '45420' '45429' '45439' '45459' '45506' '45701' '45714' '45822'
 '45845' '45885' '45891' '45895']
------
Column: limit_type
Classes: ['blanket' 'bldg' 'building' 'generalaggregate' 'liability'
 'medicalexpenses' 'productscompletedaggregate' 'sabin' 'standard']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,water,,8,ClassCode:65146,MasonryNonCombustible,43212,5670000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,water,1900.0,8,ClassCode:65146,MasonryNonCombustible,43212,5670000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,dist. of columbia,bop-building,fixeddollar - 2500.00,standard - 550637568.00,water,1900.0,8,classcode:65146,masonrynoncombustible,43212,5670000,35000,5426100

        Jurisdiction  CoverageType InjuryCause  Stories        ClassCode  \
0  dist. of columbia  bop-building       water        8  classcode:65146

    ConstructionTypeDesc ZipCode    E2Value  SquareFootage  BuildingLimit  \
0  masonrynoncombustible   43212  5670000.0          35000        5426100

  limit_type    Limit_val Deductible_type  Deductible_val  YearGap
0   standard  550637568.0     fixeddollar            2500      123

,Jurisdiction,CoverageType,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,limit_type,Limit_val,Deductible_type,Deductible_val,YearGap
0,dist. of columbia,bop-building,water,8,classcode:65146,masonrynoncombustible,43212,5670000.0,35000,5426100,standard,550637568.0,fixeddollar,2500,123

127.0.0.1 - - [14/Dec/2023 02:11:01] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia' 'washington']
------
Column: CoverageType
Classes: ['bop-building' 'bop-personalproperty' 'bop-riskliability']
------
Column: InjuryCause
Classes: ['bodily injury' 'burglary' 'collapse' 'collision' 'cracking/rupture'
 'electric current' 'explosion' 'falling objects' 'fire' 'flood'
 'freezing' 'glass' 'hail' 'lightning' 'mold' 'other perils' 'sinkhole'
 'smoke' 'theft' 'vandalism & malicious mischief' 'vehicles' 'water'
 'weight ice/snow/sleet' 'wind']
------
Column: ClassCode
Classes: ['classcode:09001' 'classcode:09011' 'classcode:09041' 'classcode:09051'
 'classcode:09061' 'classcode:09151' 'classcode:09161' 'classcode:09171'
 'classcode:09181' 'classcode:09191' 'classcode:0919109191'
 'classcode:09201' 'classcode:09211' 'classcode:09261' 'classcode:09411'
 'classcode:09431' 'classcode:09521' 'classcode:09531' 'classcode:09541'
 'classcode:09621' 'classcode:09631' 'classcode:09651' 'classcode:09661'
 'classcode:50471' 'classcode:50741' 'classcode:50813' 'classcode:52114'
 'classcode:54136' 'classcode:54216' 'classcode:55313' 'classcode:56114'
 'classcode:57121' 'classcode:57134' 'classcode:57224' 'classcode:57326'
 'classcode:59215' 'classcode:59325' 'classcode:59505' 'classcode:59526'
 'classcode:59685' 'classcode:59906' 'classcode:59992' 'classcode:59994'
 'classcode:59997' 'classcode:59999' 'classcode:60989' 'classcode:60999'
 'classcode:63611' 'classcode:63631' 'classcode:63810' 'classcode:63851'
 'classcode:63921' 'classcode:63941' 'classcode:63981' 'classcode:64061'
 'classcode:65121' 'classcode:65132' 'classcode:65133' 'classcode:65141'
 'classcode:65142' 'classcode:65144' 'classcode:6514465144'
 'classcode:651446514465145' 'classcode:6514465146' 'classcode:65145'
 'classcode:6514565142' 'classcode:6514565145' 'classcode:6514565147'
 'classcode:651456514765145' 'classcode:65146' 'classcode:6514665146'
 'classcode:651466514665146' 'classcode:65147' 'classcode:6514765144'
 'classcode:65170' 'classcode:65171' 'classcode:65198' 'classcode:69145'
 'classcode:6914569145' 'classcode:69151' 'classcode:69161'
 'classcode:69171' 'classcode:71311' 'classcode:71811' 'classcode:71855'
 'classcode:71912' 'classcode:71952' 'classcode:74011' 'classcode:74161'
 'classcode:74221' 'classcode:74231' 'classcode:74341' 'classcode:74601'
 'classcode:74661' 'classcode:75551']
------
Column: ConstructionTypeDesc
Classes: ['fireresistive' 'frame' 'joistedmasonry' 'masonrynoncombustible' 'mixed'
 'modifiedfireresistive' 'noncombustible']
------
Column: ZipCode
Classes: ['15001' '15003' '15005' '15009' '15010' '15012' '15014' '15017' '15021'
 '15022' '15024' '15025' '15027' '15030' '15031' '15033' '15034' '15035'
 '15042' '15045' '15057' '15059' '15062' '15063' '15064' '15065' '15067'
 '15068' '15074' '15085' '15089' '15090' '15101' '15104' '15106' '15108'
 '15110' '15112' '15116' '15120' '15122' '15126' '15131' '15132' '15133'
 '15135' '15135205' '15136' '15137' '15139' '15140' '15143' '15145'
 '15146' '15148' '15201' '15201742' '15202' '15202372' '15203' '15204'
 '15205' '15206' '15207' '15208' '15209' '15210' '15211' '15212' '15213'
 '15214' '15215' '15216' '15217' '15218' '15219' '15220' '15221' '15222'
 '15223' '15224' '15225' '15226' '15227' '15228' '15229' '15232' '15233'
 '15233152' '15234' '15235' '15236' '15237' '15238' '15239' '15301'
 '15317' '15320' '15321' '15323' '15333' '15342' '15347' '15370' '15401'
 '15417' '15419' '15419110' '15423' '15425' '15434' '15435' '15473'
 '15479' '15501' '15563' '15601' '15627' '15629' '15631' '15632' '15638'
 '15641' '15642' '15644' '15650' '15656' '15658' '15666' '15670' '15683'
 '15690' '15697' '15701' '15714' '15728' '15734' '15767' '15801' '15845'
 '15851' '15902' '15904' '15905' '15906' '15927' '16001' '16023' '16024'
 '16027' '16030' '16037' '16061' '16063' '16066' '16101' '16105' '16117'
 '16125' '16146' '16148' '16201' '16214' '16226' '16301' '16316' '16335'
 '16354' '16365' '16407' '16412' '16415' '16428' '16438' '16501' '16502'
 '16503' '16504' '16505' '16506' '16507' '16509' '16510' '16601' '16602'
 '16603' '16622' '16635' '16648' '16652' '16666' '16686' '16801' '16823'
 '16830' '16866' '16933' '17003' '17011' '17013' '17015' '17018' '17019'
 '17022' '17023' '17025' '17033' '17034' '17035' '17036' '17042' '17043'
 '17044' '17046' '17050' '17051' '17052' '17055' '17057' '17061' '17063'
 '17067' '17068' '17070' '17074' '17078' '17099' '17101' '17102' '17103'
 '17104' '17109' '17110' '17111' '17112' '17113' '17201' '17202' '17214'
 '17220' '17222' '17225' '17231' '17233' '17236' '17257' '17268' '17301'
 '17307' '17313' '17314' '17315' '17316' '17319' '17320' '17321' '17325'
 '17327' '17331' '17340' '17345' '17347' '17349' '17350' '17355' '17356'
 '17360' '17361110' '17362' '17364' '17366' '17368' '17401' '17402'
 '17403' '17404' '17405' '17406' '17408' '17501' '17508' '17512' '17517'
 '17517130' '17522' '17534' '17538' '17540' '17543' '17545' '17547'
 '17550' '17551' '17552' '17554' '17557' '17566' '17572' '17579' '17601'
 '17602' '17603' '17701' '17728' '17740' '17745' '17754' '17756' '17764'
 '17779' '17801' '17812' '17815' '17820' '17821' '17827' '17834' '17837'
 '17844' '17847' '17851' '17857' '17870' '17901' '17935' '17938' '17954'
 '17961' '17972' '18011' '18013' '18014' '18015' '18017' '18017329'
 '18017580' '18018' '18020' '18031' '18032' '18036' '18037' '18040'
 '18041' '18042' '18045' '18049' '18051' '18052' '18055' '18056' '18062'
 '18064' '18066' '18067' '18071' '18072' '18074' '18076' '18077' '18078'
 '18080' '18083' '18088' '18091' '18101' '18102' '18102481' '18103'
 '18104' '18106' '18109' '18201' '18202' '18210' '18218' '18219' '18229'
 '18232' '18240' '18252' '18301' '18336' '18343' '18344' '18351' '18353'
 '18360' '18405' '18405300' '18407' '18411' '18427' '18431' '18433'
 '18444' '18466' '18472' '18503' '18504' '18505' '18507' '18508' '18509'
 '18510' '18512' '18517' '18518' '18519' '18603' '18612' '18614' '18634'
 '18640' '18641' '18642' '18643' '18644' '18651' '18657' '18661' '18701'
 '18702' '18704' '18705' '18706' '18707' '18708' '18732' '18801' '18834'
 '18840' '18848' '18901' '18902' '18914' '18925' '18944' '18951' '18955'
 '18960' '18964' '18969' '18970' '18974' '19001' '19002' '19003' '19007'
 '19012' '19013' '19020' '19022' '19023' '19026' '19027' '19033' '19034'
 '19036' '19038' '19040' '19043' '19044' '19046' '19050' '19050133'
 '19052' '19053' '19061' '19063' '19067' '19072' '19076' '19078' '19081'
 '19082' '19087' '19090' '19094' '19102' '19103' '19104' '19107' '19111'
 '19116' '19119' '19122' '19124' '19125' '19127' '19128' '19129' '19131'
 '19132' '19134' '19135' '19136' '19139' '19141' '19143' '19144' '19145'
 '19146' '19147' '19151' '19152' '19153' '19154' '19333' '19341' '19343'
 '19348' '19350' '19355' '19355360' '19365' '19365119' '19380' '19382'
 '19401' '19401554' '19403' '19406' '19422' '19426' '19428' '19428230'
 '19440' '19446' '19454' '19460' '19460325' '19462' '19464' '19468'
 '19473' '19475' '19506' '19508' '19510' '19512' '19522' '19525' '19526'
 '19533' '19536' '19540' '19551' '19560' '19567' '19601' '19602' '19604'
 '19605' '19606' '19608' '19609' '19610' '19611125' '19701' '19707'
 '19709' '19711' '19720' '19801' '19802' '19804' '19805' '19806' '19808'
 '19809' '19901' '19904' '19934' '19947' '19958' '19963' '19966' '19968'
 '19973' '19977' '20001' '20002' '20003' '20007' '20008' '20009' '20010'
 '20011' '20015' '20017' '20018' '20019' '20020' '20023' '20024' '20032'
 '20036' '20037' '20111' '20147' '20155' '20653' '20659' '20705' '20706'
 '20707' '20708' '20710' '20714' '20715' '20723' '20737' '20740' '20743'
 '20746' '20747' '20748' '20763' '20781' '20783' '20785' '20854' '20912'
 '20913' '21014' '21015' '21042' '21044' '21046' '21048' '21078' '21085'
 '21093' '21113' '21122' '21144' '21157' '21158' '21201' '21202' '21205'
 '21206' '21207' '21209' '21212' '21213' '21214' '21215' '21216' '21217'
 '21218' '21221' '21222' '21224' '21227' '21228' '21229' '21230' '21231'
 '21234' '21244' '21286' '21401' '21502' '21520' '21523' '21532' '21539'
 '21541' '21550' '21601' '21613' '21619' '21620' '21629' '21638' '21639'
 '21678' '21701' '21702' '21714' '21740' '21742' '21750' '21758' '21769'
 '21779' '21782' '21783' '21784' '21788' '21791' '21797' '21801' '21837'
 '21842' '21863' '22003' '22026' '22193' '22207' '22401' '22407' '22485'
 '22560' '22657' '22701' '22901' '22902' '22903' '22911' '22932' '22968'
 '22971' '23112' '23150' '23219' '23222' '23223' '23224' '23225' '23229'
 '23430' '23452' '23503' '23508' '23606' '23666' '23803' '24013' '24015'
 '24016' '24018' '24112' '24137' '24401' '24422' '24482' '24501' '24502'
 '24517' '24572' '24590' '24609' '24641' '24651' '27288' '27529' '27540'
 '27834' '27858' '28037' '28212225' '28602' '28613' '43011' '43015'
 '43017' '43055' '43065' '43068' '43123' '43130' '43201' '43202' '43204'
 '43205' '43206' '43207' '43211' '43212' '43213' '43215' '43215004'
 '43219' '43220' '43221' '43223' '43224' '43228' '43229' '43230' '43232'
 '43302' '43604' '43606' '43607' '43609' '43614' '43615' '43620' '43701'
 '43725' '43952' '44017' '44024' '44035' '44044' '44052' '44054' '44055'
 '44074' '44076' '44077' '44089' '44090' '44094' '44102' '44103' '44105'
 '44106' '44107' '44108' '44109' '44110' '44111' '44112' '44113' '44116'
 '44117' '44118' '44120' '44121' '44122' '44124' '44128' '44129' '44130'
 '44134' '44135' '44141' '44142' '44144' '44145' '44146' '44203' '44221'
 '44223' '44224' '44230' '44233' '44240' '44266' '44270' '44281' '44301'
 '44302' '44303' '44305' '44306' '44310' '44311' '44312' '44313' '44314'
 '44319' '44333' '44405' '44406' '44408' '44410' '44412' '44420' '44460'
 '44461' '44481' '44483' '44485' '44505' '44512' '44514' '44613' '44614'
 '44641' '44646' '44647' '44677' '44685' '44691' '44703' '44706' '44708'
 '44709' '44714' '44718' '44720' '44730' '44870' '44906' '45005' '45014'
 '45030' '45040' '45044' '45056' '45066' '45068' '45069' '45144' '45157'
 '45177' '45206' '45215' '45216' '45220' '45223' '45224' '45230' '45231'
 '45237' '45238' '45240' '45302' '45324' '45342' '45356' '45365' '45371'
 '45373' '45385' '45403' '45404' '45405' '45406' '45410' '45414' '45417'
 '45419' '45420' '45429' '45439' '45459' '45506' '45701' '45714' '45822'
 '45845' '45885' '45891' '45895']
------
Column: limit_type
Classes: ['blanket' 'bldg' 'building' 'generalaggregate' 'liability'
 'medicalexpenses' 'productscompletedaggregate' 'sabin' 'standard']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,water,2008,8,,MasonryNonCombustible,43212,5670000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,water,2008,8,ClassCode:65146,MasonryNonCombustible,43212,5670000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,dist. of columbia,bop-building,fixeddollar - 2500.00,standard - 550637568.00,water,2008,8,classcode:65146,masonrynoncombustible,43212,5670000,35000,5426100

        Jurisdiction  CoverageType InjuryCause  Stories        ClassCode  \
0  dist. of columbia  bop-building       water        8  classcode:65146

    ConstructionTypeDesc ZipCode    E2Value  SquareFootage  BuildingLimit  \
0  masonrynoncombustible   43212  5670000.0          35000        5426100

  limit_type    Limit_val Deductible_type  Deductible_val  YearGap
0   standard  550637568.0     fixeddollar            2500       15

,Jurisdiction,CoverageType,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,limit_type,Limit_val,Deductible_type,Deductible_val,YearGap
0,dist. of columbia,bop-building,water,8,classcode:65146,masonrynoncombustible,43212,5670000.0,35000,5426100,standard,550637568.0,fixeddollar,2500,15

127.0.0.1 - - [14/Dec/2023 02:11:12] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia' 'washington']
------
Column: CoverageType
Classes: ['bop-building' 'bop-personalproperty' 'bop-riskliability']
------
Column: InjuryCause
Classes: ['bodily injury' 'burglary' 'collapse' 'collision' 'cracking/rupture'
 'electric current' 'explosion' 'falling objects' 'fire' 'flood'
 'freezing' 'glass' 'hail' 'lightning' 'mold' 'other perils' 'sinkhole'
 'smoke' 'theft' 'vandalism & malicious mischief' 'vehicles' 'water'
 'weight ice/snow/sleet' 'wind']
------
Column: ClassCode
Classes: ['classcode:09001' 'classcode:09011' 'classcode:09041' 'classcode:09051'
 'classcode:09061' 'classcode:09151' 'classcode:09161' 'classcode:09171'
 'classcode:09181' 'classcode:09191' 'classcode:0919109191'
 'classcode:09201' 'classcode:09211' 'classcode:09261' 'classcode:09411'
 'classcode:09431' 'classcode:09521' 'classcode:09531' 'classcode:09541'
 'classcode:09621' 'classcode:09631' 'classcode:09651' 'classcode:09661'
 'classcode:50471' 'classcode:50741' 'classcode:50813' 'classcode:52114'
 'classcode:54136' 'classcode:54216' 'classcode:55313' 'classcode:56114'
 'classcode:57121' 'classcode:57134' 'classcode:57224' 'classcode:57326'
 'classcode:59215' 'classcode:59325' 'classcode:59505' 'classcode:59526'
 'classcode:59685' 'classcode:59906' 'classcode:59992' 'classcode:59994'
 'classcode:59997' 'classcode:59999' 'classcode:60989' 'classcode:60999'
 'classcode:63611' 'classcode:63631' 'classcode:63810' 'classcode:63851'
 'classcode:63921' 'classcode:63941' 'classcode:63981' 'classcode:64061'
 'classcode:65121' 'classcode:65132' 'classcode:65133' 'classcode:65141'
 'classcode:65142' 'classcode:65144' 'classcode:6514465144'
 'classcode:651446514465145' 'classcode:6514465146' 'classcode:65145'
 'classcode:6514565142' 'classcode:6514565145' 'classcode:6514565147'
 'classcode:651456514765145' 'classcode:65146' 'classcode:6514665146'
 'classcode:651466514665146' 'classcode:65147' 'classcode:6514765144'
 'classcode:65170' 'classcode:65171' 'classcode:65198' 'classcode:69145'
 'classcode:6914569145' 'classcode:69151' 'classcode:69161'
 'classcode:69171' 'classcode:71311' 'classcode:71811' 'classcode:71855'
 'classcode:71912' 'classcode:71952' 'classcode:74011' 'classcode:74161'
 'classcode:74221' 'classcode:74231' 'classcode:74341' 'classcode:74601'
 'classcode:74661' 'classcode:75551']
------
Column: ConstructionTypeDesc
Classes: ['fireresistive' 'frame' 'joistedmasonry' 'masonrynoncombustible' 'mixed'
 'modifiedfireresistive' 'noncombustible']
------
Column: ZipCode
Classes: ['15001' '15003' '15005' '15009' '15010' '15012' '15014' '15017' '15021'
 '15022' '15024' '15025' '15027' '15030' '15031' '15033' '15034' '15035'
 '15042' '15045' '15057' '15059' '15062' '15063' '15064' '15065' '15067'
 '15068' '15074' '15085' '15089' '15090' '15101' '15104' '15106' '15108'
 '15110' '15112' '15116' '15120' '15122' '15126' '15131' '15132' '15133'
 '15135' '15135205' '15136' '15137' '15139' '15140' '15143' '15145'
 '15146' '15148' '15201' '15201742' '15202' '15202372' '15203' '15204'
 '15205' '15206' '15207' '15208' '15209' '15210' '15211' '15212' '15213'
 '15214' '15215' '15216' '15217' '15218' '15219' '15220' '15221' '15222'
 '15223' '15224' '15225' '15226' '15227' '15228' '15229' '15232' '15233'
 '15233152' '15234' '15235' '15236' '15237' '15238' '15239' '15301'
 '15317' '15320' '15321' '15323' '15333' '15342' '15347' '15370' '15401'
 '15417' '15419' '15419110' '15423' '15425' '15434' '15435' '15473'
 '15479' '15501' '15563' '15601' '15627' '15629' '15631' '15632' '15638'
 '15641' '15642' '15644' '15650' '15656' '15658' '15666' '15670' '15683'
 '15690' '15697' '15701' '15714' '15728' '15734' '15767' '15801' '15845'
 '15851' '15902' '15904' '15905' '15906' '15927' '16001' '16023' '16024'
 '16027' '16030' '16037' '16061' '16063' '16066' '16101' '16105' '16117'
 '16125' '16146' '16148' '16201' '16214' '16226' '16301' '16316' '16335'
 '16354' '16365' '16407' '16412' '16415' '16428' '16438' '16501' '16502'
 '16503' '16504' '16505' '16506' '16507' '16509' '16510' '16601' '16602'
 '16603' '16622' '16635' '16648' '16652' '16666' '16686' '16801' '16823'
 '16830' '16866' '16933' '17003' '17011' '17013' '17015' '17018' '17019'
 '17022' '17023' '17025' '17033' '17034' '17035' '17036' '17042' '17043'
 '17044' '17046' '17050' '17051' '17052' '17055' '17057' '17061' '17063'
 '17067' '17068' '17070' '17074' '17078' '17099' '17101' '17102' '17103'
 '17104' '17109' '17110' '17111' '17112' '17113' '17201' '17202' '17214'
 '17220' '17222' '17225' '17231' '17233' '17236' '17257' '17268' '17301'
 '17307' '17313' '17314' '17315' '17316' '17319' '17320' '17321' '17325'
 '17327' '17331' '17340' '17345' '17347' '17349' '17350' '17355' '17356'
 '17360' '17361110' '17362' '17364' '17366' '17368' '17401' '17402'
 '17403' '17404' '17405' '17406' '17408' '17501' '17508' '17512' '17517'
 '17517130' '17522' '17534' '17538' '17540' '17543' '17545' '17547'
 '17550' '17551' '17552' '17554' '17557' '17566' '17572' '17579' '17601'
 '17602' '17603' '17701' '17728' '17740' '17745' '17754' '17756' '17764'
 '17779' '17801' '17812' '17815' '17820' '17821' '17827' '17834' '17837'
 '17844' '17847' '17851' '17857' '17870' '17901' '17935' '17938' '17954'
 '17961' '17972' '18011' '18013' '18014' '18015' '18017' '18017329'
 '18017580' '18018' '18020' '18031' '18032' '18036' '18037' '18040'
 '18041' '18042' '18045' '18049' '18051' '18052' '18055' '18056' '18062'
 '18064' '18066' '18067' '18071' '18072' '18074' '18076' '18077' '18078'
 '18080' '18083' '18088' '18091' '18101' '18102' '18102481' '18103'
 '18104' '18106' '18109' '18201' '18202' '18210' '18218' '18219' '18229'
 '18232' '18240' '18252' '18301' '18336' '18343' '18344' '18351' '18353'
 '18360' '18405' '18405300' '18407' '18411' '18427' '18431' '18433'
 '18444' '18466' '18472' '18503' '18504' '18505' '18507' '18508' '18509'
 '18510' '18512' '18517' '18518' '18519' '18603' '18612' '18614' '18634'
 '18640' '18641' '18642' '18643' '18644' '18651' '18657' '18661' '18701'
 '18702' '18704' '18705' '18706' '18707' '18708' '18732' '18801' '18834'
 '18840' '18848' '18901' '18902' '18914' '18925' '18944' '18951' '18955'
 '18960' '18964' '18969' '18970' '18974' '19001' '19002' '19003' '19007'
 '19012' '19013' '19020' '19022' '19023' '19026' '19027' '19033' '19034'
 '19036' '19038' '19040' '19043' '19044' '19046' '19050' '19050133'
 '19052' '19053' '19061' '19063' '19067' '19072' '19076' '19078' '19081'
 '19082' '19087' '19090' '19094' '19102' '19103' '19104' '19107' '19111'
 '19116' '19119' '19122' '19124' '19125' '19127' '19128' '19129' '19131'
 '19132' '19134' '19135' '19136' '19139' '19141' '19143' '19144' '19145'
 '19146' '19147' '19151' '19152' '19153' '19154' '19333' '19341' '19343'
 '19348' '19350' '19355' '19355360' '19365' '19365119' '19380' '19382'
 '19401' '19401554' '19403' '19406' '19422' '19426' '19428' '19428230'
 '19440' '19446' '19454' '19460' '19460325' '19462' '19464' '19468'
 '19473' '19475' '19506' '19508' '19510' '19512' '19522' '19525' '19526'
 '19533' '19536' '19540' '19551' '19560' '19567' '19601' '19602' '19604'
 '19605' '19606' '19608' '19609' '19610' '19611125' '19701' '19707'
 '19709' '19711' '19720' '19801' '19802' '19804' '19805' '19806' '19808'
 '19809' '19901' '19904' '19934' '19947' '19958' '19963' '19966' '19968'
 '19973' '19977' '20001' '20002' '20003' '20007' '20008' '20009' '20010'
 '20011' '20015' '20017' '20018' '20019' '20020' '20023' '20024' '20032'
 '20036' '20037' '20111' '20147' '20155' '20653' '20659' '20705' '20706'
 '20707' '20708' '20710' '20714' '20715' '20723' '20737' '20740' '20743'
 '20746' '20747' '20748' '20763' '20781' '20783' '20785' '20854' '20912'
 '20913' '21014' '21015' '21042' '21044' '21046' '21048' '21078' '21085'
 '21093' '21113' '21122' '21144' '21157' '21158' '21201' '21202' '21205'
 '21206' '21207' '21209' '21212' '21213' '21214' '21215' '21216' '21217'
 '21218' '21221' '21222' '21224' '21227' '21228' '21229' '21230' '21231'
 '21234' '21244' '21286' '21401' '21502' '21520' '21523' '21532' '21539'
 '21541' '21550' '21601' '21613' '21619' '21620' '21629' '21638' '21639'
 '21678' '21701' '21702' '21714' '21740' '21742' '21750' '21758' '21769'
 '21779' '21782' '21783' '21784' '21788' '21791' '21797' '21801' '21837'
 '21842' '21863' '22003' '22026' '22193' '22207' '22401' '22407' '22485'
 '22560' '22657' '22701' '22901' '22902' '22903' '22911' '22932' '22968'
 '22971' '23112' '23150' '23219' '23222' '23223' '23224' '23225' '23229'
 '23430' '23452' '23503' '23508' '23606' '23666' '23803' '24013' '24015'
 '24016' '24018' '24112' '24137' '24401' '24422' '24482' '24501' '24502'
 '24517' '24572' '24590' '24609' '24641' '24651' '27288' '27529' '27540'
 '27834' '27858' '28037' '28212225' '28602' '28613' '43011' '43015'
 '43017' '43055' '43065' '43068' '43123' '43130' '43201' '43202' '43204'
 '43205' '43206' '43207' '43211' '43212' '43213' '43215' '43215004'
 '43219' '43220' '43221' '43223' '43224' '43228' '43229' '43230' '43232'
 '43302' '43604' '43606' '43607' '43609' '43614' '43615' '43620' '43701'
 '43725' '43952' '44017' '44024' '44035' '44044' '44052' '44054' '44055'
 '44074' '44076' '44077' '44089' '44090' '44094' '44102' '44103' '44105'
 '44106' '44107' '44108' '44109' '44110' '44111' '44112' '44113' '44116'
 '44117' '44118' '44120' '44121' '44122' '44124' '44128' '44129' '44130'
 '44134' '44135' '44141' '44142' '44144' '44145' '44146' '44203' '44221'
 '44223' '44224' '44230' '44233' '44240' '44266' '44270' '44281' '44301'
 '44302' '44303' '44305' '44306' '44310' '44311' '44312' '44313' '44314'
 '44319' '44333' '44405' '44406' '44408' '44410' '44412' '44420' '44460'
 '44461' '44481' '44483' '44485' '44505' '44512' '44514' '44613' '44614'
 '44641' '44646' '44647' '44677' '44685' '44691' '44703' '44706' '44708'
 '44709' '44714' '44718' '44720' '44730' '44870' '44906' '45005' '45014'
 '45030' '45040' '45044' '45056' '45066' '45068' '45069' '45144' '45157'
 '45177' '45206' '45215' '45216' '45220' '45223' '45224' '45230' '45231'
 '45237' '45238' '45240' '45302' '45324' '45342' '45356' '45365' '45371'
 '45373' '45385' '45403' '45404' '45405' '45406' '45410' '45414' '45417'
 '45419' '45420' '45429' '45439' '45459' '45506' '45701' '45714' '45822'
 '45845' '45885' '45891' '45895']
------
Column: limit_type
Classes: ['blanket' 'bldg' 'building' 'generalaggregate' 'liability'
 'medicalexpenses' 'productscompletedaggregate' 'sabin' 'standard']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,water,2008,8,ClassCode:65146,MasonrynonCombustible,43212,5670000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,Standard - 550637568.00,water,2008,8,ClassCode:65146,MasonrynonCombustible,43212,5670000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,dist. of columbia,bop-building,fixeddollar - 2500.00,standard - 550637568.00,water,2008,8,classcode:65146,masonrynoncombustible,43212,5670000,35000,5426100

        Jurisdiction  CoverageType InjuryCause  Stories        ClassCode  \
0  dist. of columbia  bop-building       water        8  classcode:65146

    ConstructionTypeDesc ZipCode    E2Value  SquareFootage  BuildingLimit  \
0  masonrynoncombustible   43212  5670000.0          35000        5426100

  limit_type    Limit_val Deductible_type  Deductible_val  YearGap
0   standard  550637568.0     fixeddollar            2500       15

,Jurisdiction,CoverageType,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,limit_type,Limit_val,Deductible_type,Deductible_val,YearGap
0,dist. of columbia,bop-building,water,8,classcode:65146,masonrynoncombustible,43212,5670000.0,35000,5426100,standard,550637568.0,fixeddollar,2500,15

127.0.0.1 - - [14/Dec/2023 02:11:21] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia' 'washington']
------
Column: CoverageType
Classes: ['bop-building' 'bop-personalproperty' 'bop-riskliability']
------
Column: InjuryCause
Classes: ['bodily injury' 'burglary' 'collapse' 'collision' 'cracking/rupture'
 'electric current' 'explosion' 'falling objects' 'fire' 'flood'
 'freezing' 'glass' 'hail' 'lightning' 'mold' 'other perils' 'sinkhole'
 'smoke' 'theft' 'vandalism & malicious mischief' 'vehicles' 'water'
 'weight ice/snow/sleet' 'wind']
------
Column: ClassCode
Classes: ['classcode:09001' 'classcode:09011' 'classcode:09041' 'classcode:09051'
 'classcode:09061' 'classcode:09151' 'classcode:09161' 'classcode:09171'
 'classcode:09181' 'classcode:09191' 'classcode:0919109191'
 'classcode:09201' 'classcode:09211' 'classcode:09261' 'classcode:09411'
 'classcode:09431' 'classcode:09521' 'classcode:09531' 'classcode:09541'
 'classcode:09621' 'classcode:09631' 'classcode:09651' 'classcode:09661'
 'classcode:50471' 'classcode:50741' 'classcode:50813' 'classcode:52114'
 'classcode:54136' 'classcode:54216' 'classcode:55313' 'classcode:56114'
 'classcode:57121' 'classcode:57134' 'classcode:57224' 'classcode:57326'
 'classcode:59215' 'classcode:59325' 'classcode:59505' 'classcode:59526'
 'classcode:59685' 'classcode:59906' 'classcode:59992' 'classcode:59994'
 'classcode:59997' 'classcode:59999' 'classcode:60989' 'classcode:60999'
 'classcode:63611' 'classcode:63631' 'classcode:63810' 'classcode:63851'
 'classcode:63921' 'classcode:63941' 'classcode:63981' 'classcode:64061'
 'classcode:65121' 'classcode:65132' 'classcode:65133' 'classcode:65141'
 'classcode:65142' 'classcode:65144' 'classcode:6514465144'
 'classcode:651446514465145' 'classcode:6514465146' 'classcode:65145'
 'classcode:6514565142' 'classcode:6514565145' 'classcode:6514565147'
 'classcode:651456514765145' 'classcode:65146' 'classcode:6514665146'
 'classcode:651466514665146' 'classcode:65147' 'classcode:6514765144'
 'classcode:65170' 'classcode:65171' 'classcode:65198' 'classcode:69145'
 'classcode:6914569145' 'classcode:69151' 'classcode:69161'
 'classcode:69171' 'classcode:71311' 'classcode:71811' 'classcode:71855'
 'classcode:71912' 'classcode:71952' 'classcode:74011' 'classcode:74161'
 'classcode:74221' 'classcode:74231' 'classcode:74341' 'classcode:74601'
 'classcode:74661' 'classcode:75551']
------
Column: ConstructionTypeDesc
Classes: ['fireresistive' 'frame' 'joistedmasonry' 'masonrynoncombustible' 'mixed'
 'modifiedfireresistive' 'noncombustible']
------
Column: ZipCode
Classes: ['15001' '15003' '15005' '15009' '15010' '15012' '15014' '15017' '15021'
 '15022' '15024' '15025' '15027' '15030' '15031' '15033' '15034' '15035'
 '15042' '15045' '15057' '15059' '15062' '15063' '15064' '15065' '15067'
 '15068' '15074' '15085' '15089' '15090' '15101' '15104' '15106' '15108'
 '15110' '15112' '15116' '15120' '15122' '15126' '15131' '15132' '15133'
 '15135' '15135205' '15136' '15137' '15139' '15140' '15143' '15145'
 '15146' '15148' '15201' '15201742' '15202' '15202372' '15203' '15204'
 '15205' '15206' '15207' '15208' '15209' '15210' '15211' '15212' '15213'
 '15214' '15215' '15216' '15217' '15218' '15219' '15220' '15221' '15222'
 '15223' '15224' '15225' '15226' '15227' '15228' '15229' '15232' '15233'
 '15233152' '15234' '15235' '15236' '15237' '15238' '15239' '15301'
 '15317' '15320' '15321' '15323' '15333' '15342' '15347' '15370' '15401'
 '15417' '15419' '15419110' '15423' '15425' '15434' '15435' '15473'
 '15479' '15501' '15563' '15601' '15627' '15629' '15631' '15632' '15638'
 '15641' '15642' '15644' '15650' '15656' '15658' '15666' '15670' '15683'
 '15690' '15697' '15701' '15714' '15728' '15734' '15767' '15801' '15845'
 '15851' '15902' '15904' '15905' '15906' '15927' '16001' '16023' '16024'
 '16027' '16030' '16037' '16061' '16063' '16066' '16101' '16105' '16117'
 '16125' '16146' '16148' '16201' '16214' '16226' '16301' '16316' '16335'
 '16354' '16365' '16407' '16412' '16415' '16428' '16438' '16501' '16502'
 '16503' '16504' '16505' '16506' '16507' '16509' '16510' '16601' '16602'
 '16603' '16622' '16635' '16648' '16652' '16666' '16686' '16801' '16823'
 '16830' '16866' '16933' '17003' '17011' '17013' '17015' '17018' '17019'
 '17022' '17023' '17025' '17033' '17034' '17035' '17036' '17042' '17043'
 '17044' '17046' '17050' '17051' '17052' '17055' '17057' '17061' '17063'
 '17067' '17068' '17070' '17074' '17078' '17099' '17101' '17102' '17103'
 '17104' '17109' '17110' '17111' '17112' '17113' '17201' '17202' '17214'
 '17220' '17222' '17225' '17231' '17233' '17236' '17257' '17268' '17301'
 '17307' '17313' '17314' '17315' '17316' '17319' '17320' '17321' '17325'
 '17327' '17331' '17340' '17345' '17347' '17349' '17350' '17355' '17356'
 '17360' '17361110' '17362' '17364' '17366' '17368' '17401' '17402'
 '17403' '17404' '17405' '17406' '17408' '17501' '17508' '17512' '17517'
 '17517130' '17522' '17534' '17538' '17540' '17543' '17545' '17547'
 '17550' '17551' '17552' '17554' '17557' '17566' '17572' '17579' '17601'
 '17602' '17603' '17701' '17728' '17740' '17745' '17754' '17756' '17764'
 '17779' '17801' '17812' '17815' '17820' '17821' '17827' '17834' '17837'
 '17844' '17847' '17851' '17857' '17870' '17901' '17935' '17938' '17954'
 '17961' '17972' '18011' '18013' '18014' '18015' '18017' '18017329'
 '18017580' '18018' '18020' '18031' '18032' '18036' '18037' '18040'
 '18041' '18042' '18045' '18049' '18051' '18052' '18055' '18056' '18062'
 '18064' '18066' '18067' '18071' '18072' '18074' '18076' '18077' '18078'
 '18080' '18083' '18088' '18091' '18101' '18102' '18102481' '18103'
 '18104' '18106' '18109' '18201' '18202' '18210' '18218' '18219' '18229'
 '18232' '18240' '18252' '18301' '18336' '18343' '18344' '18351' '18353'
 '18360' '18405' '18405300' '18407' '18411' '18427' '18431' '18433'
 '18444' '18466' '18472' '18503' '18504' '18505' '18507' '18508' '18509'
 '18510' '18512' '18517' '18518' '18519' '18603' '18612' '18614' '18634'
 '18640' '18641' '18642' '18643' '18644' '18651' '18657' '18661' '18701'
 '18702' '18704' '18705' '18706' '18707' '18708' '18732' '18801' '18834'
 '18840' '18848' '18901' '18902' '18914' '18925' '18944' '18951' '18955'
 '18960' '18964' '18969' '18970' '18974' '19001' '19002' '19003' '19007'
 '19012' '19013' '19020' '19022' '19023' '19026' '19027' '19033' '19034'
 '19036' '19038' '19040' '19043' '19044' '19046' '19050' '19050133'
 '19052' '19053' '19061' '19063' '19067' '19072' '19076' '19078' '19081'
 '19082' '19087' '19090' '19094' '19102' '19103' '19104' '19107' '19111'
 '19116' '19119' '19122' '19124' '19125' '19127' '19128' '19129' '19131'
 '19132' '19134' '19135' '19136' '19139' '19141' '19143' '19144' '19145'
 '19146' '19147' '19151' '19152' '19153' '19154' '19333' '19341' '19343'
 '19348' '19350' '19355' '19355360' '19365' '19365119' '19380' '19382'
 '19401' '19401554' '19403' '19406' '19422' '19426' '19428' '19428230'
 '19440' '19446' '19454' '19460' '19460325' '19462' '19464' '19468'
 '19473' '19475' '19506' '19508' '19510' '19512' '19522' '19525' '19526'
 '19533' '19536' '19540' '19551' '19560' '19567' '19601' '19602' '19604'
 '19605' '19606' '19608' '19609' '19610' '19611125' '19701' '19707'
 '19709' '19711' '19720' '19801' '19802' '19804' '19805' '19806' '19808'
 '19809' '19901' '19904' '19934' '19947' '19958' '19963' '19966' '19968'
 '19973' '19977' '20001' '20002' '20003' '20007' '20008' '20009' '20010'
 '20011' '20015' '20017' '20018' '20019' '20020' '20023' '20024' '20032'
 '20036' '20037' '20111' '20147' '20155' '20653' '20659' '20705' '20706'
 '20707' '20708' '20710' '20714' '20715' '20723' '20737' '20740' '20743'
 '20746' '20747' '20748' '20763' '20781' '20783' '20785' '20854' '20912'
 '20913' '21014' '21015' '21042' '21044' '21046' '21048' '21078' '21085'
 '21093' '21113' '21122' '21144' '21157' '21158' '21201' '21202' '21205'
 '21206' '21207' '21209' '21212' '21213' '21214' '21215' '21216' '21217'
 '21218' '21221' '21222' '21224' '21227' '21228' '21229' '21230' '21231'
 '21234' '21244' '21286' '21401' '21502' '21520' '21523' '21532' '21539'
 '21541' '21550' '21601' '21613' '21619' '21620' '21629' '21638' '21639'
 '21678' '21701' '21702' '21714' '21740' '21742' '21750' '21758' '21769'
 '21779' '21782' '21783' '21784' '21788' '21791' '21797' '21801' '21837'
 '21842' '21863' '22003' '22026' '22193' '22207' '22401' '22407' '22485'
 '22560' '22657' '22701' '22901' '22902' '22903' '22911' '22932' '22968'
 '22971' '23112' '23150' '23219' '23222' '23223' '23224' '23225' '23229'
 '23430' '23452' '23503' '23508' '23606' '23666' '23803' '24013' '24015'
 '24016' '24018' '24112' '24137' '24401' '24422' '24482' '24501' '24502'
 '24517' '24572' '24590' '24609' '24641' '24651' '27288' '27529' '27540'
 '27834' '27858' '28037' '28212225' '28602' '28613' '43011' '43015'
 '43017' '43055' '43065' '43068' '43123' '43130' '43201' '43202' '43204'
 '43205' '43206' '43207' '43211' '43212' '43213' '43215' '43215004'
 '43219' '43220' '43221' '43223' '43224' '43228' '43229' '43230' '43232'
 '43302' '43604' '43606' '43607' '43609' '43614' '43615' '43620' '43701'
 '43725' '43952' '44017' '44024' '44035' '44044' '44052' '44054' '44055'
 '44074' '44076' '44077' '44089' '44090' '44094' '44102' '44103' '44105'
 '44106' '44107' '44108' '44109' '44110' '44111' '44112' '44113' '44116'
 '44117' '44118' '44120' '44121' '44122' '44124' '44128' '44129' '44130'
 '44134' '44135' '44141' '44142' '44144' '44145' '44146' '44203' '44221'
 '44223' '44224' '44230' '44233' '44240' '44266' '44270' '44281' '44301'
 '44302' '44303' '44305' '44306' '44310' '44311' '44312' '44313' '44314'
 '44319' '44333' '44405' '44406' '44408' '44410' '44412' '44420' '44460'
 '44461' '44481' '44483' '44485' '44505' '44512' '44514' '44613' '44614'
 '44641' '44646' '44647' '44677' '44685' '44691' '44703' '44706' '44708'
 '44709' '44714' '44718' '44720' '44730' '44870' '44906' '45005' '45014'
 '45030' '45040' '45044' '45056' '45066' '45068' '45069' '45144' '45157'
 '45177' '45206' '45215' '45216' '45220' '45223' '45224' '45230' '45231'
 '45237' '45238' '45240' '45302' '45324' '45342' '45356' '45365' '45371'
 '45373' '45385' '45403' '45404' '45405' '45406' '45410' '45414' '45417'
 '45419' '45420' '45429' '45439' '45459' '45506' '45701' '45714' '45822'
 '45845' '45885' '45891' '45895']
------
Column: limit_type
Classes: ['blanket' 'bldg' 'building' 'generalaggregate' 'liability'
 'medicalexpenses' 'productscompletedaggregate' 'sabin' 'standard']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

In [1]:
import pandas as pd
data= {
    "Jurisdiction":"Delaware",
    "CoverageType":"BOP-Building",
    "Deductible":"FixedDollar - 1000.00",
    "Limit":"Standard - 217000.00",
    "InjuryCause":"WIND",
    "YearBuilt":"1958",
    "Stories":"1",
    "Comments":"ClassCode:65141",
    "ConstructionTypeDesc":"Frame",
    "ZipCode":"19973",
    "E2Value":"217236",
    "SquareFootage":"1480",
    "BuildingLimit":"217000"
}
df=pd.DataFrame([data])
display(df)

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Delaware,BOP-Building,FixedDollar - 1000.00,Standard - 217000.00,WIND,1958,1,ClassCode:65141,Frame,19973,217236,1480,217000