In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier 
from sklearn import metrics
from flask import Flask, request, render_template,jsonify
from flask_cors import CORS
import re
import math
from utility.data_cleaning import *
from utility.data_preprocessing import *
from utility.model_building import *
from config.configuration import *
import json
import cloudpickle as pickle


app = Flask(__name__)
CORS(app)

#import pickle folder of model, encoder and mode values of cat columns 

# with open('./data/training/output/rf_model_20231214.pkl', 'rb') as file:
#     model=pickle.load(file)
with open('./data/training/output/rf_Kfold.pkl', 'rb') as file:
    model=pickle.load(file)
with open('./data/training/output/encoder_20231214.pkl', 'rb') as file:
    label_encoders=pickle.load(file)
modes_dict_path = './data/training/output/mode_values_dict_20231213.pkl'
with open(modes_dict_path, 'rb') as file:
    modes_dict = pickle.load(file)
print(modes_dict)

mean_dict_path = './data/training/output/mean_values_dict_20231213.pkl'
with open(mean_dict_path, 'rb') as file:
    mean_dict = pickle.load(file)

        
@app.route("/predict_api", methods=['POST'])
def RiskPrediction():
    json_ = request.json
    df= pd.DataFrame([json_])
    display(df)
    
    df.replace('',np.nan,inplace=True)
    
    
# check if the col of df presents in modes_dict, and if present then it replace the null value of cols with the mode values of this col.
    
    for col in df.columns: 
        if col in modes_dict:
            df[col]=df[col].fillna(modes_dict[col])
            
    for col in df.columns: 
        if col in mean_dict:
            df[col]=df[col].fillna(mean_dict[col])
            
    
    display(df)
    
    df_clean = clean_data(df)
    display(df_clean)
     
#to get information about the classes of each col  
    for col, encoder in label_encoders.items():
        print(f"Column: {col}")
        print(f"Classes: {encoder.classes_}")
        print("------")
        
    for col in label_encoders:
        df_clean[col] = label_encoders[col].transform(df_clean[col])
        
    predicted_loss_amount= model.predict(df_clean)
    output = predicted_loss_amount[0]
    
    return jsonify({"prediction": output.item()})
    #return jsonify({"prediction":output})
if __name__ == '__main__':
    #app.run()
    app.run(host='0.0.0.0', port=80)

{'Jurisdiction': 'Pennsylvania', 'CoverageType': 'BOP-Building', 'Deductible': 'FixedDollar - 2500.00', 'Limit': 'Blanket Group 1 Blanket - 48075046.00', 'InjuryCause': 'WATER', 'YearBuilt': 1900.0, 'Stories': 2.0, 'Comments': 'ClassCode:65146', 'ConstructionTypeDesc': 'Frame', 'ZipCode': '18102', 'E2Value': 955986.0, 'SquareFootage': 3489, 'BuildingLimit': 610526}
 * Serving Flask app '__main__'
 * Debug mode: off

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on all addresses (0.0.0.0)
 * Running on http://127.0.0.1:80
 * Running on http://192.168.107.90:80
Press CTRL+C to quit

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 1000.00,550637568.00,WATER,1965,8,ClassCode:65146,MasonryNonCombustible,20016,4758237,30800,5090954

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 1000.00,550637568.00,WATER,1965,8,ClassCode:65146,MasonryNonCombustible,20016,4758237,30800,5090954

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,dist. of columbia,bop-building,fixeddollar - 1000.00,550637568.00,water,1965,8,classcode:65146,masonrynoncombustible,20016,4758237,30800,5090954

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
        Jurisdiction  CoverageType    Limit_val InjuryCause  Stories  \
0  dist. of columbia  bop-building  550637568.0       water        8

         ClassCode   ConstructionTypeDesc ZipCode    E2Value  SquareFootage  \
0  classcode:65146  masonrynoncombustible   20016  4758237.0          30800

   BuildingLimit Deductible_type  Deductible_val  YearGap
0        5090954     fixeddollar            1000       58

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,dist. of columbia,bop-building,550637568.0,water,8,classcode:65146,masonrynoncombustible,20016,4758237.0,30800,5090954,fixeddollar,1000,58

127.0.0.1 - - [14/Dec/2023 20:51:28] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Virginia,BOP-Building,FixedDollar - 5000.00,2560320.00,FIRE,1969,2,ClassCode:65132,JoistedMasonry,23228,5042916,30480,2560320

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Virginia,BOP-Building,FixedDollar - 5000.00,2560320.00,FIRE,1969,2,ClassCode:65132,JoistedMasonry,23228,5042916,30480,2560320

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,virginia,bop-building,fixeddollar - 5000.00,2560320.00,fire,1969,2,classcode:65132,joistedmasonry,23228,5042916,30480,2560320

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
  Jurisdiction  CoverageType  Limit_val InjuryCause  Stories        ClassCode  \
0     virginia  bop-building  2560320.0        fire        2  classcode:65132

  ConstructionTypeDesc ZipCode    E2Value  SquareFootage  BuildingLimit  \
0       joistedmasonry   23228  5042916.0          30480        2560320

  Deductible_type  Deductible_val  YearGap
0     fixeddollar            5000       54

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,virginia,bop-building,2560320.0,fire,2,classcode:65132,joistedmasonry,23228,5042916.0,30480,2560320,fixeddollar,5000,54

127.0.0.1 - - [14/Dec/2023 20:52:35] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Pennsylvania,BOP-Building,FixedDollar - 2500.00,704688296.00,WIND,2012,1,ClassCode:59999,MasonryNonCombustible,17319,3640000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Pennsylvania,BOP-Building,FixedDollar - 2500.00,704688296.00,WIND,2012,1,ClassCode:59999,MasonryNonCombustible,17319,3640000,35000,5426100

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,pennsylvania,bop-building,fixeddollar - 2500.00,704688296.00,wind,2012,1,classcode:59999,masonrynoncombustible,17319,3640000,35000,5426100

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
   Jurisdiction  CoverageType    Limit_val InjuryCause  Stories  \
0  pennsylvania  bop-building  704688296.0        wind        1

         ClassCode   ConstructionTypeDesc ZipCode    E2Value  SquareFootage  \
0  classcode:59999  masonrynoncombustible   17319  3640000.0          35000

   BuildingLimit Deductible_type  Deductible_val  YearGap
0        5426100     fixeddollar            2500       11

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,pennsylvania,bop-building,704688296.0,wind,1,classcode:59999,masonrynoncombustible,17319,3640000.0,35000,5426100,fixeddollar,2500,11

127.0.0.1 - - [14/Dec/2023 20:53:11] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,North Carolina,BOP-Building,FixedDollar - 2500.00,309000.00,VEHICLES,1920,2,ClassCode:65146,Frame,27701,333720,2472,309000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,North Carolina,BOP-Building,FixedDollar - 2500.00,309000.00,VEHICLES,1920,2,ClassCode:65146,Frame,27701,333720,2472,309000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,north carolina,bop-building,fixeddollar - 2500.00,309000.00,vehicles,1920,2,classcode:65146,frame,27701,333720,2472,309000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
     Jurisdiction  CoverageType  Limit_val InjuryCause  Stories  \
0  north carolina  bop-building   309000.0    vehicles        2

         ClassCode ConstructionTypeDesc ZipCode   E2Value  SquareFootage  \
0  classcode:65146                frame   27701  333720.0           2472

   BuildingLimit Deductible_type  Deductible_val  YearGap
0         309000     fixeddollar            2500      103

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,north carolina,bop-building,309000.0,vehicles,2,classcode:65146,frame,27701,333720.0,2472,309000,fixeddollar,2500,103

127.0.0.1 - - [14/Dec/2023 20:53:40] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Pennsylvania,BOP-Building,FixedDollar - 2500.00,280000.00,WIND,1955,2,ClassCode:65141,Frame,17225,307314,1494,280000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Pennsylvania,BOP-Building,FixedDollar - 2500.00,280000.00,WIND,1955,2,ClassCode:65141,Frame,17225,307314,1494,280000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,pennsylvania,bop-building,fixeddollar - 2500.00,280000.00,wind,1955,2,classcode:65141,frame,17225,307314,1494,280000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
   Jurisdiction  CoverageType  Limit_val InjuryCause  Stories  \
0  pennsylvania  bop-building   280000.0        wind        2

         ClassCode ConstructionTypeDesc ZipCode   E2Value  SquareFootage  \
0  classcode:65141                frame   17225  307314.0           1494

   BuildingLimit Deductible_type  Deductible_val  YearGap
0         280000     fixeddollar            2500       68

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,pennsylvania,bop-building,280000.0,wind,2,classcode:65141,frame,17225,307314.0,1494,280000,fixeddollar,2500,68

127.0.0.1 - - [14/Dec/2023 20:54:11] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Pennsylvania,BOP-Building,FixedDollar - 1000.00,850000.00,VEHICLES,1962,1,ClassCode:65171,Frame,17111,1565623.5,7350,850000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Pennsylvania,BOP-Building,FixedDollar - 1000.00,850000.00,VEHICLES,1962,1,ClassCode:65171,Frame,17111,1565623.5,7350,850000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,pennsylvania,bop-building,fixeddollar - 1000.00,850000.00,vehicles,1962,1,classcode:65171,frame,17111,1565623.5,7350,850000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
   Jurisdiction  CoverageType  Limit_val InjuryCause  Stories  \
0  pennsylvania  bop-building   850000.0    vehicles        1

         ClassCode ConstructionTypeDesc ZipCode    E2Value  SquareFootage  \
0  classcode:65171                frame   17111  1565623.5           7350

   BuildingLimit Deductible_type  Deductible_val  YearGap
0         850000     fixeddollar            1000       61

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,pennsylvania,bop-building,850000.0,vehicles,1,classcode:65171,frame,17111,1565623.5,7350,850000,fixeddollar,1000,61

127.0.0.1 - - [14/Dec/2023 20:54:42] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,1500000.00,WATER,1900,3,ClassCode:69145,JoistedMasonry,20009,147472,4800,1500000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,1500000.00,WATER,1900,3,ClassCode:69145,JoistedMasonry,20009,147472,4800,1500000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,dist. of columbia,bop-building,fixeddollar - 2500.00,1500000.00,water,1900,3,classcode:69145,joistedmasonry,20009,147472,4800,1500000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
        Jurisdiction  CoverageType  Limit_val InjuryCause  Stories  \
0  dist. of columbia  bop-building  1500000.0       water        3

         ClassCode ConstructionTypeDesc ZipCode   E2Value  SquareFootage  \
0  classcode:69145       joistedmasonry   20009  147472.0           4800

   BuildingLimit Deductible_type  Deductible_val  YearGap
0        1500000     fixeddollar            2500      123

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,dist. of columbia,bop-building,1500000.0,water,3,classcode:69145,joistedmasonry,20009,147472.0,4800,1500000,fixeddollar,2500,123

127.0.0.1 - - [14/Dec/2023 20:55:24] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_valt,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,700000.00,WATER,1900,2,ClassCode:6514565145,JoistedMasonry,20002,566699.4,2800,700000

,Jurisdiction,CoverageType,Deductible,Limit_valt,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,700000.00,WATER,1900,2,ClassCode:6514565145,JoistedMasonry,20002,566699.4,2800,700000

,Jurisdiction,CoverageType,Deductible,Limit_valt,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,dist. of columbia,bop-building,fixeddollar - 2500.00,700000.00,water,1900,2,classcode:6514565145,joistedmasonry,20002,566699.4,2800,700000

[2023-12-14 20:56:00,556] ERROR in app: Exception on /predict_api [POST]
Traceback (most recent call last):
  File "C:\Users\SmrutisikhaJena\anaconda3\Lib\site-packages\flask\app.py", line 2525, in wsgi_app
    response = self.full_dispatch_request()
               ^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SmrutisikhaJena\anaconda3\Lib\site-packages\flask\app.py", line 1822, in full_dispatch_request
    rv = self.handle_user_exception(e)
         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SmrutisikhaJena\anaconda3\Lib\site-packages\flask_cors\extension.py", line 176, in wrapped_function
    return cors_after_request(app.make_response(f(*args, **kwargs)))
                                                ^^^^^^^^^^^^^^^^^^
  File "C:\Users\SmrutisikhaJena\anaconda3\Lib\site-packages\flask\app.py", line 1820, in full_dispatch_request
    rv = self.dispatch_request()
         ^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SmrutisikhaJena\anaconda3\Lib\site-packages\flask\app.py", line 1796, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)
           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SmrutisikhaJena\AppData\Local\Temp\ipykernel_22104\1170515776.py", line 61, in RiskPrediction
    df_clean = clean_data(df)
               ^^^^^^^^^^^^^^
  File "C:\Users\SmrutisikhaJena\Documents\GitHub\Risk_Predictive_Model\utility\data_cleaning.py", line 28, in clean_data
    df_processed[columns_to_float] = df_processed[columns_to_float].astype('float')
                                     ~~~~~~~~~~~~^^^^^^^^^^^^^^^^^^
  File "C:\Users\SmrutisikhaJena\anaconda3\Lib\site-packages\pandas\core\frame.py", line 3767, in __getitem__
    indexer = self.columns._get_indexer_strict(key, "columns")[1]
              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
  File "C:\Users\SmrutisikhaJena\anaconda3\Lib\site-packages\pandas\core\indexes\base.py", line 5877, in _get_indexer_strict
    self._raise_if_missing(keyarr, indexer, axis_name)
  File "C:\Users\SmrutisikhaJena\anaconda3\Lib\site-packages\pandas\core\indexes\base.py", line 5941, in _raise_if_missing
    raise KeyError(f"{not_found} not in index")
KeyError: "['Limit_val'] not in index"
127.0.0.1 - - [14/Dec/2023 20:56:00] "POST /predict_api HTTP/1.1" 500 -

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_valt            1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,700000.00,WATER,1900,2,ClassCode:6514565145,JoistedMasonry,20002,566699.4,2800,700000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,700000.00,WATER,1900,2,ClassCode:6514565145,JoistedMasonry,20002,566699.4,2800,700000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,dist. of columbia,bop-building,fixeddollar - 2500.00,700000.00,water,1900,2,classcode:6514565145,joistedmasonry,20002,566699.4,2800,700000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
        Jurisdiction  CoverageType  Limit_val InjuryCause  Stories  \
0  dist. of columbia  bop-building   700000.0       water        2

              ClassCode ConstructionTypeDesc ZipCode   E2Value  SquareFootage  \
0  classcode:6514565145       joistedmasonry   20002  566699.4           2800

   BuildingLimit Deductible_type  Deductible_val  YearGap
0         700000     fixeddollar            2500      123

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,dist. of columbia,bop-building,700000.0,water,2,classcode:6514565145,joistedmasonry,20002,566699.4,2800,700000,fixeddollar,2500,123

127.0.0.1 - - [14/Dec/2023 20:56:14] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Pennsylvania,BOP-Building,FixedDollar - 1000.00,1831631.00,ELECTRIC CURRENT,1983,2,ClassCode:65146,Frame,15824,29266185.6,13800,1831631

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Pennsylvania,BOP-Building,FixedDollar - 1000.00,1831631.00,ELECTRIC CURRENT,1983,2,ClassCode:65146,Frame,15824,29266185.6,13800,1831631

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,pennsylvania,bop-building,fixeddollar - 1000.00,1831631.00,electric current,1983,2,classcode:65146,frame,15824,29266185.6,13800,1831631

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
   Jurisdiction  CoverageType  Limit_val       InjuryCause  Stories  \
0  pennsylvania  bop-building  1831631.0  electric current        2

         ClassCode ConstructionTypeDesc ZipCode     E2Value  SquareFootage  \
0  classcode:65146                frame   15824  29266185.6          13800

   BuildingLimit Deductible_type  Deductible_val  YearGap
0        1831631     fixeddollar            1000       40

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,pennsylvania,bop-building,1831631.0,electric current,2,classcode:65146,frame,15824,29266185.6,13800,1831631,fixeddollar,1000,40

127.0.0.1 - - [14/Dec/2023 20:57:58] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Ohio,BOP-Building,FixedDollar - 10000.00,136250.00,HAIL,1978,1,ClassCode:65144,Frame,43701,2018702.4,1090,136250

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Ohio,BOP-Building,FixedDollar - 10000.00,136250.00,HAIL,1978,1,ClassCode:65144,Frame,43701,2018702.4,1090,136250

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,ohio,bop-building,fixeddollar - 10000.00,136250.00,hail,1978,1,classcode:65144,frame,43701,2018702.4,1090,136250

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
  Jurisdiction  CoverageType  Limit_val InjuryCause  Stories        ClassCode  \
0         ohio  bop-building   136250.0        hail        1  classcode:65144

  ConstructionTypeDesc ZipCode    E2Value  SquareFootage  BuildingLimit  \
0                frame   43701  2018702.4           1090         136250

  Deductible_type  Deductible_val  YearGap
0     fixeddollar           10000       45

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,ohio,bop-building,136250.0,hail,1,classcode:65144,frame,43701,2018702.4,1090,136250,fixeddollar,10000,45

127.0.0.1 - - [14/Dec/2023 20:58:29] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Delaware,BOP-Building,FixedDollar - 1000.00,671674.00,HAIL,1979,1,ClassCode:75521,Frame,19956,2651180,14000,671674

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Delaware,BOP-Building,FixedDollar - 1000.00,671674.00,HAIL,1979,1,ClassCode:75521,Frame,19956,2651180,14000,671674

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,delaware,bop-building,fixeddollar - 1000.00,671674.00,hail,1979,1,classcode:75521,frame,19956,2651180,14000,671674

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
  Jurisdiction  CoverageType  Limit_val InjuryCause  Stories        ClassCode  \
0     delaware  bop-building   671674.0        hail        1  classcode:75521

  ConstructionTypeDesc ZipCode    E2Value  SquareFootage  BuildingLimit  \
0                frame   19956  2651180.0          14000         671674

  Deductible_type  Deductible_val  YearGap
0     fixeddollar            1000       44

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,delaware,bop-building,671674.0,hail,1,classcode:75521,frame,19956,2651180.0,14000,671674,fixeddollar,1000,44

127.0.0.1 - - [14/Dec/2023 20:58:55] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Maryland,BOP-Building,FixedDollar - 2500.00,1017000.00,WATER,1960,3,ClassCode:65146,JoistedMasonry,20912,1045544.5,4550,1017000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Maryland,BOP-Building,FixedDollar - 2500.00,1017000.00,WATER,1960,3,ClassCode:65146,JoistedMasonry,20912,1045544.5,4550,1017000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,maryland,bop-building,fixeddollar - 2500.00,1017000.00,water,1960,3,classcode:65146,joistedmasonry,20912,1045544.5,4550,1017000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
  Jurisdiction  CoverageType  Limit_val InjuryCause  Stories        ClassCode  \
0     maryland  bop-building  1017000.0       water        3  classcode:65146

  ConstructionTypeDesc ZipCode    E2Value  SquareFootage  BuildingLimit  \
0       joistedmasonry   20912  1045544.5           4550        1017000

  Deductible_type  Deductible_val  YearGap
0     fixeddollar            2500       63

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,maryland,bop-building,1017000.0,water,3,classcode:65146,joistedmasonry,20912,1045544.5,4550,1017000,fixeddollar,2500,63

127.0.0.1 - - [14/Dec/2023 20:59:21] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Ohio,BOP-Building,FixedDollar - 10000.00,306000.00,WATER,1900,2,ClassCode:65141,Frame,45504,305856,1888,306000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Ohio,BOP-Building,FixedDollar - 10000.00,306000.00,WATER,1900,2,ClassCode:65141,Frame,45504,305856,1888,306000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,ohio,bop-building,fixeddollar - 10000.00,306000.00,water,1900,2,classcode:65141,frame,45504,305856,1888,306000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
  Jurisdiction  CoverageType  Limit_val InjuryCause  Stories        ClassCode  \
0         ohio  bop-building   306000.0       water        2  classcode:65141

  ConstructionTypeDesc ZipCode   E2Value  SquareFootage  BuildingLimit  \
0                frame   45504  305856.0           1888         306000

  Deductible_type  Deductible_val  YearGap
0     fixeddollar           10000      123

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,ohio,bop-building,306000.0,water,2,classcode:65141,frame,45504,305856.0,1888,306000,fixeddollar,10000,123

127.0.0.1 - - [14/Dec/2023 20:59:47] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,4000000.00,FIRE,1971,3,ClassCode:65146,JoistedMasonry,20019,4041489.87,21753,4000000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Dist. of Columbia,BOP-Building,FixedDollar - 2500.00,4000000.00,FIRE,1971,3,ClassCode:65146,JoistedMasonry,20019,4041489.87,21753,4000000

,Jurisdiction,CoverageType,Deductible,Limit_val,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,dist. of columbia,bop-building,fixeddollar - 2500.00,4000000.00,fire,1971,3,classcode:65146,joistedmasonry,20019,4041489.87,21753,4000000

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Jurisdiction          1 non-null      object
 1   CoverageType          1 non-null      object
 2   Deductible            1 non-null      object
 3   Limit_val             1 non-null      object
 4   InjuryCause           1 non-null      object
 5   YearBuilt             1 non-null      object
 6   Stories               1 non-null      object
 7   Comments              1 non-null      object
 8   ConstructionTypeDesc  1 non-null      object
 9   ZipCode               1 non-null      object
 10  E2Value               1 non-null      object
 11  SquareFootage         1 non-null      object
 12  BuildingLimit         1 non-null      object
dtypes: object(13)
memory usage: 236.0+ bytes
        Jurisdiction  CoverageType  Limit_val InjuryCause  Stories  \
0  dist. of columbia  bop-building  4000000.0        fire        3

         ClassCode ConstructionTypeDesc ZipCode     E2Value  SquareFootage  \
0  classcode:65146       joistedmasonry   20019  4041489.87          21753

   BuildingLimit Deductible_type  Deductible_val  YearGap
0        4000000     fixeddollar            2500       52

,Jurisdiction,CoverageType,Limit_val,InjuryCause,Stories,ClassCode,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit,Deductible_type,Deductible_val,YearGap
0,dist. of columbia,bop-building,4000000.0,fire,3,classcode:65146,joistedmasonry,20019,4041489.87,21753,4000000,fixeddollar,2500,52

127.0.0.1 - - [14/Dec/2023 21:00:14] "POST /predict_api HTTP/1.1" 200 -

Column: Jurisdiction
Classes: ['delaware' 'dist. of columbia' 'maryland' 'north carolina' 'ohio'
 'pennsylvania' 'virginia']
------
Column: CoverageType
Classes: ['bop-building']
------
Column: InjuryCause
Classes: ['electric current' 'fire' 'freezing' 'hail' 'other perils'
 'vandalism & malicious mischief' 'vehicles' 'water' 'wind']
------
Column: ClassCode
Classes: ['classcode:09061' 'classcode:09651' 'classcode:0966109661'
 'classcode:59997' 'classcode:59999' 'classcode:63611' 'classcode:63981'
 'classcode:65132' 'classcode:65141' 'classcode:65142' 'classcode:65144'
 'classcode:65145' 'classcode:6514565145' 'classcode:65146'
 'classcode:65147' 'classcode:65171' 'classcode:69145' 'classcode:75521']
------
Column: ConstructionTypeDesc
Classes: ['frame' 'joistedmasonry' 'masonrynoncombustible']
------
Column: ZipCode
Classes: ['15045' '15108' '15120' '15133' '15144' '15145' '15206' '15210' '15212'
 '15217' '15218' '15232' '15236' '15301' '15456' '15601' '15620' '15644'
 '15661' '15714' '15824' '15845' '15905' '16417' '16501' '16502' '16508'
 '16602' '16637' '16866' '17070' '17111' '17225' '17316' '17319' '17325'
 '17401' '17408' '17602' '17603' '17961' '18032' '18040' '18042' '18102'
 '18434' '18504' '18634' '18840' '18966' '19006' '19018' '19121' '19401'
 '19446' '19956' '19973' '20002' '20009' '20016' '20019' '20020' '20781'
 '20912' '21014' '23228' '27601' '27701' '43211' '43227' '43701' '44035'
 '44077' '44086' '44109' '44135' '44137' '44306' '44614' '44641' '44685'
 '45044' '45324' '45406' '45419' '45504']
------
Column: Deductible_type
Classes: ['fixeddollar' 'perunit' 'property' 'waterdamage' 'windstormhail']
------

In [1]:
import pandas as pd
data= {
    "Jurisdiction":"Delaware",
    "CoverageType":"BOP-Building",
    "Deductible":"FixedDollar - 1000.00",
    "Limit":"Standard - 217000.00",
    "InjuryCause":"WIND",
    "YearBuilt":"1958",
    "Stories":"1",
    "Comments":"ClassCode:65141",
    "ConstructionTypeDesc":"Frame",
    "ZipCode":"19973",
    "E2Value":"217236",
    "SquareFootage":"1480",
    "BuildingLimit":"217000"
}
df=pd.DataFrame([data])
display(df)

,Jurisdiction,CoverageType,Deductible,Limit,InjuryCause,YearBuilt,Stories,Comments,ConstructionTypeDesc,ZipCode,E2Value,SquareFootage,BuildingLimit
0,Delaware,BOP-Building,FixedDollar - 1000.00,Standard - 217000.00,WIND,1958,1,ClassCode:65141,Frame,19973,217236,1480,217000